<html>
<body>
<table>
<tr>
    <td><img src="logofscm.jpg" style="width:120px;height:64px;">
    </td>
<td><h1> PERMOHONAN TRAINING  </h1></td>
</tr>
</table>
<h3>I. Data Calon Peserta</h3>
<table>
<tr>
<td>Nama</td>
<td>:</td>
</tr>

<tr>
<td>NRP</td>
<td>:</td>
</tr>

<tr>
<td>Departmen</td>
<td>:</td>
</tr>

<tr>
<td>Seksi</td>
<td>:</td>
</tr>

<tr>
<td>Golongan</td>
<td>:</td>
</tr>

<tr>
<td>Jabatan</td>
<td>:</td>
</tr>

</table>
<h3>II. Jenis Training</h3>
<table>

<tr>
<td>Judul Training</td>
<td>:</td>
</tr>

<tr>
<td>Penyelenggara</td>
<td>:</td>
</tr>

<tr>
<td>Tempat</td>
<td>:</td>
</tr>

<tr>
<td>Waktu</td>
<td>:</td>
</tr>

<tr>
<td>Biaya</td>
<td>:</td>
</tr>

</table>

<h3>III. Tujuan</h3>
<tr>
<td> </td>
</tr>

<p> Tanggal Permohonan </p>
</body>
</html>